{"openapi":"3.1.0","info":{"title":"Okareo API","version":"0.1.0"},"servers":[{"url":"https://api.okareo.com/"}],"paths":{"/v0/health":{"get":{"summary":"Healthcheck","operationId":"healthcheck_v0_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v0/project":{"post":{"summary":"Create Project","description":"Create a project\n\nReturns:\n    the id of the created project","operationId":"create_project_v0_project_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/project/{project_id}":{"get":{"summary":"Get Project","description":"Get a project\n\nReturns:\n    the requested project","operationId":"get_project_v0_project__project_id__get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"The ID of the project to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"summary":"Update Project","description":"Update a project\n\nReturns:\n    the requested project","operationId":"update_project_v0_project__project_id__put","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"The ID of the project to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations":{"get":{"summary":"Get Generations","description":"gets all the generations created by a given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generations_v0_generations_get","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenerationList"},"title":"Response Get Generations V0 Generations Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"summary":"Add Generation","description":"Creates a new generation.\n\nReturns:\n    Object: same payload which was sent with 201 status code on success.","operationId":"add_generation_v0_generations_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}":{"get":{"summary":"Get Generation","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_v0_generations__generation_id__get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation V0 Generations  Generation Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete Generation","description":"Deletes the generation object from db\n\nRaises:\n    HTTPException: 404 if generation id is not found in the db\n\nReturns:\n    Object: Deleted true with 204 status code","operationId":"delete_generation_v0_generations__generation_id__delete","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}/schema":{"get":{"summary":"Get Generation Schema","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_schema_v0_generations__generation_id__schema_get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation Schema V0 Generations  Generation Id  Schema Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}/view":{"get":{"summary":"Get Generation View","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_view_v0_generations__generation_id__view_get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation View V0 Generations  Generation Id  View Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/find_datapoints":{"post":{"summary":"Get Datapoints","description":"gets all the datapoints created by a given token.\n\nReturns:\n    list: An array of datapoint objects.","operationId":"get_datapoints_v0_find_datapoints_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSearch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DatapointList"},"title":"Response Get Datapoints V0 Find Datapoints Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/datapoints":{"post":{"summary":"Add Datapoint","description":"Add data point into the database.\n\nReturns:\n    Empty ressponse with 201 status code on success.","operationId":"add_datapoint_v0_datapoints_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/register_model":{"post":{"summary":"Register Model","description":"Register the model under test\n\nReturns:\n    the id of the registered model","operationId":"register_model_v0_register_model_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"DatapointList":{"properties":{"id":{"type":"integer","title":"Id"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags"},"feedback":{"type":"integer","title":"Feedback"},"error_message":{"type":"string","title":"Error Message"},"error_code":{"type":"string","title":"Error Code"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"project_id":{"type":"integer","title":"Project Id"}},"type":"object","required":["id","tags","time_created"],"title":"DatapointList"},"DatapointResponse":{"properties":{"id":{"type":"integer","title":"Id"},"project_id":{"type":"integer","title":"Project Id"},"mut_id":{"type":"integer","minimum":0.0,"title":"Mut Id"}},"type":"object","required":["id"],"title":"DatapointResponse"},"DatapointSchema":{"properties":{"mut_id":{"type":"integer","minimum":0.0,"title":"Mut Id"},"input":{"type":"string","contentMediaType":"application/json","contentSchema":{},"title":"Input"},"input_datetime":{"type":"string","format":"date-time","title":"Input Datetime"},"result":{"type":"string","contentMediaType":"application/json","contentSchema":{},"title":"Result"},"result_datetime":{"type":"string","format":"date-time","title":"Result Datetime"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]},"feedback":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Feedback"},"error_message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Message"},"error_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Code"},"context_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Context Token"}},"type":"object","required":["input","input_datetime","result","result_datetime"],"title":"DatapointSchema"},"DatapointSearch":{"properties":{"tags":{"items":{"type":"string"},"type":"array","title":"Tags"},"from_date":{"type":"string","format":"date-time","title":"From Date","default":"2022-12-31T23:59:59.999999"},"to_date":{"type":"string","format":"date-time","title":"To Date"},"feedback":{"type":"integer","title":"Feedback"},"error_code":{"type":"string","title":"Error Code"},"context_token":{"type":"string","title":"Context Token"},"project_id":{"type":"integer","title":"Project Id"},"mut_id":{"type":"integer","minimum":0.0,"title":"Mut Id"}},"type":"object","title":"DatapointSearch"},"GenerationList":{"properties":{"hash":{"type":"string","title":"Hash"},"time_created":{"type":"string","format":"date-time","title":"Time Created"}},"type":"object","required":["hash","time_created"],"title":"GenerationList"},"GenerationPayload":{"properties":{"schema":{"type":"string","contentMediaType":"application/json","contentSchema":{},"title":"Schema"},"view":{"type":"string","title":"View"},"return_results":{"type":"boolean","title":"Return Results","default":false}},"type":"object","required":["schema","view"],"title":"GenerationPayload"},"GenerationResponse":{"properties":{"hash":{"type":"string","title":"Hash"},"data":{"type":"string","title":"Data"}},"type":"object","required":["hash","data"],"title":"GenerationResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ModelUnderTestResponse":{"properties":{"id":{"type":"integer","title":"Id"},"project_id":{"type":"integer","title":"Project Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags"}},"type":"object","required":["id","project_id","name","tags"],"title":"ModelUnderTestResponse"},"ModelUnderTestSchema":{"properties":{"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"project_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Project Id"}},"type":"object","title":"ModelUnderTestSchema"},"ProjectResponse":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","required":["id","name"],"title":"ProjectResponse"},"ProjectSchema":{"properties":{"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","title":"ProjectSchema"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}