{"openapi": "3.1.0", "info": {"title": "Okareo API", "version": "0.1.0"}, "servers": [{"url": "https://api.okareo.com"}], "paths": {"/v0/projects": {"post": {"summary": "Create Project", "description": "Create a project\n\nReturns:\n    the id, name, and tags for the created project", "operationId": "create_project_v0_projects_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"summary": "Get All Projects", "description": "Get a list of projects for this organization\n\nReturns:\n    a list of requested projects", "operationId": "get_all_projects_v0_projects_get", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ProjectResponse"}, "title": "Response Get All Projects V0 Projects Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/projects/{project_id}": {"get": {"summary": "Get Project", "description": "Get a project\n\nReturns:\n    the requested project", "operationId": "get_project_v0_projects__project_id__get", "parameters": [{"name": "project_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the project", "title": "Project Id"}, "description": "The ID of the project"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"summary": "Update Project", "description": "Update a project\n\nReturns:\n    the requested project", "operationId": "update_project_v0_projects__project_id__put", "parameters": [{"name": "project_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the project", "title": "Project Id"}, "description": "ID of the project"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/generate_api_token": {"post": {"summary": "Generate Api Token", "operationId": "generate_api_token_v0_generate_api_token_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "string", "title": "Response Generate Api Token V0 Generate Api Token Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/onboarding_status": {"put": {"summary": "Update Onboarding Status", "description": "Update the onboarding completion status for the organization\n\nArgs:\n    status (str): The new onboarding completion status\n\nReturns:\n    str: The updated onboarding completion status", "operationId": "update_onboarding_status_v0_onboarding_status_put", "parameters": [{"name": "status", "in": "query", "required": true, "schema": {"type": "string", "title": "Status"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "string", "title": "Response Update Onboarding Status V0 Onboarding Status Put"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/generate_slack_auth_url": {"post": {"summary": "Generate Slack Auth Url", "description": "Generates a Slack authentication URL with a temporary authorization token.\n\nArgs:\n    request: The HTTP request containing project_id in the body\n    db: Database session\n\nReturns:\n    dict: Contains the Slack authentication URL", "operationId": "generate_slack_auth_url_v0_generate_slack_auth_url_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Project Data"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Generate Slack Auth Url V0 Generate Slack Auth Url Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/slack": {"get": {"summary": "Slack Oauth Callback", "operationId": "slack_oauth_callback_v0_slack_get", "parameters": [{"name": "code", "in": "query", "required": true, "schema": {"type": "string", "title": "Code"}}, {"name": "state", "in": "query", "required": true, "schema": {"type": "string", "title": "State"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Slack Oauth Callback V0 Slack Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/scenario_sets": {"post": {"summary": "Create Scenario Set", "description": "Triggers a generation of a test scenario set, could be long running.\nThis scenario set can now be used for testing on a model.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.", "operationId": "create_scenario_set_v0_scenario_sets_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetCreate"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"summary": "Get Scenario Sets", "description": "Find all scenario sets based on either the project id or the scenario id\n\nReturns:\n    a list of scenario sets (project id) or a list of scenarios (scenario id)", "operationId": "get_scenario_sets_v0_scenario_sets_get", "parameters": [{"name": "scenario_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "uuid"}, {"type": "null"}], "description": "The ID of the scenario set", "title": "Scenario Id"}, "description": "The ID of the scenario set"}, {"name": "project_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "uuid"}, {"type": "null"}], "description": "The ID of the project", "title": "Project Id"}, "description": "The ID of the project"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ScenarioSetResponse"}, "title": "Response Get Scenario Sets V0 Scenario Sets Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/scenario_sets/{scenario_id}": {"put": {"summary": "Update Scenario Set", "description": "Update a Scenario Set\n\nReturns:\n    the updated Scenario Set", "operationId": "update_scenario_set_v0_scenario_sets__scenario_id__put", "parameters": [{"name": "scenario_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the scenario set to modify", "title": "Scenario Id"}, "description": "The ID of the scenario set to modify"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetUpdate"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"summary": "Delete Scenario Set", "description": "Deletes the scenario set and cascades deletes to all related entities.\nNamely, Evaluations, Evaluation Datapoints, and  Model Datapoints\n\n!! Use With Caution !!\n\nRaises:\n    HTTPException: 404 if scenario_id is not found\n\nReturns: 204 status code on successful deletion", "operationId": "delete_scenario_set_v0_scenario_sets__scenario_id__delete", "parameters": [{"name": "scenario_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the Scenario Set to delete", "title": "Scenario Id"}, "description": "The ID of the Scenario Set to delete"}, {"name": "name", "in": "query", "required": true, "schema": {"type": "string", "description": "Name of the Scenario Set to delete", "title": "Name"}, "description": "Name of the Scenario Set to delete"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/scenario_sets_upload": {"post": {"summary": "Scenario Sets Upload", "description": "Upload new scenarios\n\nReturns:\n    the Scenario Set with the uploaded scenarios", "operationId": "scenario_sets_upload_v0_scenario_sets_upload_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/Body_scenario_sets_upload_v0_scenario_sets_upload_post"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/scenario_sets_download/{scenario_id}": {"get": {"summary": "Get Scenario Sets Download", "description": "Get the scenario set for a particular scenario ID\n\nReturns:\n    a list of scenarios", "operationId": "get_scenario_sets_download_v0_scenario_sets_download__scenario_id__get", "parameters": [{"name": "scenario_id", "in": "path", "required": true, "schema": {"type": "string", "description": "The ID of the scenario set", "title": "Scenario Id"}, "description": "The ID of the scenario set"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/scenario_data_points/{scenario_id}": {"get": {"summary": "Get Scenario Set Data Points", "description": "Get all scenarios datapoints\n\nReturns:\n    a list of scenario datapoints", "operationId": "get_scenario_set_data_points_v0_scenario_data_points__scenario_id__get", "parameters": [{"name": "scenario_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the scenario set to download", "title": "Scenario Id"}, "description": "The ID of the scenario set to download"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ScenarioDataPoinResponse"}, "title": "Response Get Scenario Set Data Points V0 Scenario Data Points  Scenario Id  Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/scenario_sets_generate": {"post": {"summary": "Generate Scenario Set", "description": "Triggers a generation of a scenario set based on either a source scenario ID or a list of source scenario rows.\nGeneration can run long depending on number of source rows, number of examples, and generation type/prompt.\nOptionally save the generated scenario, allowing a registered model to use the generated scenario set for testing.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.", "operationId": "generate_scenario_set_v0_scenario_sets_generate_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetGenerate"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/find_datapoints": {"post": {"summary": "Get Datapoints", "description": "Gets all the datapoints for given search criteria.\n\nReturns:\n    list: An array of datapoint objects.", "operationId": "get_datapoints_v0_find_datapoints_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointSearch"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DatapointListItem"}, "title": "Response Get Datapoints V0 Find Datapoints Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/find_datapoints_filter": {"post": {"summary": "Get Datapoints Filter", "description": "Gets all the datapoints for given search criteria.\n\nReturns:\n    list: An array of datapoint objects.", "operationId": "get_datapoints_filter_v0_find_datapoints_filter_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterSearchPayload"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DatapointListItem"}, "title": "Response Get Datapoints Filter V0 Find Datapoints Filter Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/filter_counts": {"post": {"summary": "Get Datapoint Counts", "description": "Gets only the counts for datapoints matching given filter criteria without retrieving the actual data.\n\nReturns:\n    dict: Object containing filtered_count and total_count", "operationId": "get_datapoint_counts_v0_filter_counts_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterSearchPayload"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Get Datapoint Counts V0 Filter Counts Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/filters": {"post": {"summary": "Create Filter", "description": "Create a new datapoint filter.\n\nArgs:\n    request: The FastAPI request object\n    payload: Filter creation payload containing conditions and metadata\n\nReturns:\n    The created filter objects", "operationId": "create_filter_v0_filters_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterCreate"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"summary": "Delete Filter", "description": "Delete a datapoint filter.\n\nArgs:\n    request: The FastAPI request object\n    payload: Filter deletion payload containing filter ID", "operationId": "delete_filter_v0_filters_delete", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterDelete"}}}}, "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"summary": "Get Filters", "description": "Get all datapoint filters for a project.\nDefaults to a 90-day lookback window.\n\nArgs:\n    request: The FastAPI request object\n    project_id: UUID of the project to get filters for\n\nReturns:\n    List of filter items for the project", "operationId": "get_filters_v0_filters_get", "parameters": [{"name": "lookback_start", "in": "query", "required": false, "schema": {"type": "integer", "default": 90, "title": "Lookback Start"}}, {"name": "lookback_end", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Lookback End"}}, {"name": "get_baseline_metrics", "in": "query", "required": false, "schema": {"type": "boolean", "default": false, "title": "Get Baseline Metrics"}}, {"name": "timezone", "in": "query", "required": false, "schema": {"type": "string", "default": "Etc/UTC", "title": "Timezone"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DatapointFilterItem"}, "title": "Response Get Filters V0 Filters Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/filters/{filter_group_id}": {"put": {"summary": "Update Filter", "description": "Update an existing datapoint filter. Allows update on the name, description, and checks fields.\n\nArgs:\n    request: The FastAPI request object\n    filter_group_id: UUID of the filter group to update\n    payload: Filter creation payload containing conditions and metadata\n\nReturns:\n    The created filter object", "operationId": "update_filter_v0_filters__filter_group_id__put", "parameters": [{"name": "filter_group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the filter group to update", "title": "Filter Group Id"}, "description": "The ID of the filter group to update"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterUpdate"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"summary": "Get Filter", "description": "Get a specific datapoint filter.\n\nArgs:\n    request: The FastAPI request object\n    project_id: UUID of the project the filter belongs to\n    filter_group_id: UUID of the specific filter group to retrieve\n\nReturns:\n    The requested filter item", "operationId": "get_filter_v0_filters__filter_group_id__get", "parameters": [{"name": "filter_group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Filter Group Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointFilterItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/filters/metadata": {"get": {"summary": "Get Filters Metadata", "description": "Get all viable user-defined metadata column names for filters.\n\nArgs:\n    request: The FastAPI request object\n\nReturns:\n    List of key names of across all user metadata columns", "operationId": "get_filters_metadata_v0_filters_metadata_get", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}, "title": "Response Get Filters Metadata V0 Filters Metadata Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/summary_datapoints": {"post": {"summary": "Get Datapoints Summary", "description": "Expects a date range and returns a summary of datapoint counts by group and feedback range.\nDefaults to 90-day lookback window.\n\nReturns:\n    list: An array of datapoint objects.", "operationId": "get_datapoints_summary_v0_summary_datapoints_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SummaryDatapointSearch"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DatapointSummaryItem"}, "title": "Response Get Datapoints Summary V0 Summary Datapoints Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/datapoints": {"post": {"summary": "Add Datapoint", "description": "Add a datapoint for a particular registered model\n\nReturns:\n    Empty ressponse with 201 status code on success.", "operationId": "add_datapoint_v0_datapoints_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/datapoints/{datapoint_id}": {"put": {"summary": "Update Datapoint", "description": "Update a datapoint\n\nReturns:\n    the updated datapoint", "operationId": "update_datapoint_v0_datapoints__datapoint_id__put", "parameters": [{"name": "datapoint_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the datapoint", "title": "Datapoint Id"}, "description": "The ID of the datapoint"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatapointTagsSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "string", "title": "Response Update Datapoint V0 Datapoints  Datapoint Id  Put"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/find_traces": {"post": {"summary": "Find Traces", "operationId": "find_traces_v0_find_traces_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FindTracesRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/FindTracesResponse"}, "title": "Response Find Traces V0 Find Traces Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v1/traces": {"post": {"summary": "Receive Traces", "operationId": "receive_traces_v1_traces_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReceiveTracesResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/target/{target_model_name}": {"get": {"summary": "Get Target Model By Name", "operationId": "get_target_model_by_name_v0_target__target_model_name__get", "parameters": [{"name": "target_model_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Target Model Name"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TargetModelResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/register_model": {"post": {"summary": "Register Model", "description": "Register a model for testing. This model can then be tested using a scenario set.\n\nReturns:\n    the id of the registered model", "operationId": "register_model_v0_register_model_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelUnderTestSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelUnderTestResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/models_under_test/{mut_id}": {"get": {"summary": "Get Model Under Test", "description": "Get a model under test\n\nReturns:\n    the requested model under test", "operationId": "get_model_under_test_v0_models_under_test__mut_id__get", "parameters": [{"name": "mut_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the model", "title": "Mut Id"}, "description": "The ID of the model"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelUnderTestResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"summary": "Update Model Under Test", "description": "Update a model under test\n\nReturns:\n    the updated model under test", "operationId": "update_model_under_test_v0_models_under_test__mut_id__put", "parameters": [{"name": "mut_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the model under test", "title": "Mut Id"}, "description": "The ID of the model under test"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelUnderTestSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelUnderTestResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"summary": "Delete Model Under Test", "description": "Delete all versions of a model under test and cascade delete TestRun and TestDataPoint objects associated with all versions.", "operationId": "delete_model_under_test_v0_models_under_test__mut_id__delete", "parameters": [{"name": "mut_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the model under test", "title": "Mut Id"}, "description": "The ID of the model under test"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/models_under_test/{name}/{version}": {"get": {"summary": "Get Model Under Test By Name And Version", "description": "Get a model under test by name and version.\nIf no version is provided, then latest version will be returned.\n\nReturns:\n    The requested model under test at the specified version.", "operationId": "get_model_under_test_by_name_and_version_v0_models_under_test__name___version__get", "parameters": [{"name": "name", "in": "path", "required": true, "schema": {"type": "string", "title": "Name"}}, {"name": "version", "in": "path", "required": true, "schema": {"anyOf": [{"type": "string"}, {"type": "integer"}], "title": "Version"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelUnderTestResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/models_under_test": {"get": {"summary": "Get All Models Under Test", "description": "Get a list of models under test for this organization\n\nReturns:\n    a list of requested models under test", "operationId": "get_all_models_under_test_v0_models_under_test_get", "parameters": [{"name": "project_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "uuid"}, {"type": "null"}], "description": "The ID of the project", "title": "Project Id"}, "description": "The ID of the project"}, {"name": "version", "in": "query", "required": false, "schema": {"type": "string", "description": "The version(s) of the mut to retrieve. 'latest' will retrieve only the latest version for each mut name. 'all' will retrieve all versions for all mut names.", "default": "all", "title": "Version"}, "description": "The version(s) of the mut to retrieve. 'latest' will retrieve only the latest version for each mut name. 'all' will retrieve all versions for all mut names."}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ModelUnderTestResponse"}, "title": "Response Get All Models Under Test V0 Models Under Test Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/groups": {"post": {"summary": "Create Group", "description": "Create a new group for models under test or return existing group with the same name.\n\nReturns:\n    The group's details (either newly created or existing)", "operationId": "create_group_v0_groups_post", "parameters": [{"name": "name", "in": "query", "required": true, "schema": {"type": "string", "description": "The name of the group", "title": "Name"}, "description": "The name of the group"}, {"name": "tags", "in": "query", "required": false, "schema": {"anyOf": [{"type": "array", "items": {"type": "string"}}, {"type": "null"}], "description": "Tags for the group", "title": "Tags"}, "description": "Tags for the group"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"type": "object", "additionalProperties": true}, {"type": "null"}], "description": "Log source of the group", "title": "Source"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Create Group V0 Groups Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"summary": "Get Groups", "description": "Get all groups for the current organization and project.\n\nReturns:\n    A list of groups", "operationId": "get_groups_v0_groups_get", "parameters": [{"name": "project_id", "in": "query", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the project", "title": "Project Id"}, "description": "The ID of the project"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "additionalProperties": true}, "title": "Response Get Groups V0 Groups Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/groups/{group_id}/models": {"post": {"summary": "Add Model To Group", "description": "Add a model to a group.\n\nReturns:\n    A success message", "operationId": "add_model_to_group_v0_groups__group_id__models_post", "parameters": [{"name": "group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the group", "title": "Group Id"}, "description": "The ID of the group"}, {"name": "model_id", "in": "query", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the model to add", "title": "Model Id"}, "description": "The ID of the model to add"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Add Model To Group V0 Groups  Group Id  Models Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"summary": "Get Models In Group", "description": "Get all models in a specific group.\n\nReturns:\n    A list of models in the group", "operationId": "get_models_in_group_v0_groups__group_id__models_get", "parameters": [{"name": "group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the group", "title": "Group Id"}, "description": "The ID of the group"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ModelUnderTestResponse"}, "title": "Response Get Models In Group V0 Groups  Group Id  Models Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/groups/{group_id}": {"put": {"summary": "Update Group", "description": "Update a group\n\nReturns:\n    the updated group", "operationId": "update_group_v0_groups__group_id__put", "parameters": [{"name": "group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the group", "title": "Group Id"}, "description": "The ID of the group"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupSchema"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "string", "title": "Response Update Group V0 Groups  Group Id  Put"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/groups/{group_id}/trace_eval": {"post": {"summary": "Create Trace Eval", "description": "Create a trace evaluation for a group\n\nReturns:\n    The created trace evaluation details", "operationId": "create_trace_eval_v0_groups__group_id__trace_eval_post", "parameters": [{"name": "group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the group", "title": "Group Id"}, "description": "The ID of the group"}, {"name": "context_token", "in": "query", "required": true, "schema": {"type": "string", "description": "The context token for the trace", "title": "Context Token"}, "description": "The context token for the trace"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Create Trace Eval V0 Groups  Group Id  Trace Eval Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/traces/{group_id}/datapoints": {"get": {"summary": "Get Datapoints In Group Trace", "description": "Get all datapoints in a specific group.\n\nReturns:\n    A list of datapoints in the group", "operationId": "get_datapoints_in_group_trace_v0_traces__group_id__datapoints_get", "parameters": [{"name": "group_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the group", "title": "Group Id"}, "description": "The ID of the group"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"title": "Response Get Datapoints In Group Trace V0 Traces  Group Id  Datapoints Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/available_target_models": {"get": {"summary": "Get Available Target Models", "description": "Get a list of available target models from the model configuration registry.\n\nReturns models from the target_models section in provider/name format (e.g., \"azure/gpt-4o-mini\")\nthat can be used in driver_model_id, target_model, or other model configuration fields.\n\nThese models have pre-configured api_base and api_version settings that will be\nautomatically applied when the model is used.", "operationId": "get_available_target_models_v0_available_target_models_get", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetAvailableModelsResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/find_test_runs": {"post": {"summary": "Find Test Run", "operationId": "find_test_run_v0_find_test_runs_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GeneralFindPayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"title": "Response Find Test Run V0 Find Test Runs Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_runs/{test_run_id}": {"get": {"summary": "Get Test Run", "description": "Get a Test Run\n\nReturns:\n    the Test Run", "operationId": "get_test_run_v0_test_runs__test_run_id__get", "parameters": [{"name": "test_run_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of test run", "title": "Test Run Id"}, "description": "ID of test run"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"summary": "Update Test Run", "description": "Update a Test Run\nReturns:\n    the updated Test Run", "operationId": "update_test_run_v0_test_runs__test_run_id__put", "parameters": [{"name": "test_run_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the test run to modify", "title": "Test Run Id"}, "description": "The ID of the test run to modify"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunPayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_runs/{test_run_id}/trace_metrics": {"get": {"summary": "Get Test Run Trace Metrics", "description": "Get aggregate trace check metrics for a test run's simulation.\n\nReturns only model_metrics (no datapoints).", "operationId": "get_test_run_trace_metrics_v0_test_runs__test_run_id__trace_metrics_get", "parameters": [{"name": "test_run_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of test run", "title": "Test Run Id"}, "description": "ID of test run"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Get Test Run Trace Metrics V0 Test Runs  Test Run Id  Trace Metrics Get"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_runs/compare": {"post": {"summary": "Compare Test Runs", "description": "Compare one or two test runs.\n\nSend both IDs for a side-by-side comparison.\nSend only one ID for single-run stats.\nStatistical tests are only computed when both runs are provided\nand the type is generation/multi-turn.\n\nChecks are always paired by their immutable check_id UUID.", "operationId": "compare_test_runs_v0_test_runs_compare_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CompareTestRunsPayload"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CompareTestRunsResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_runs": {"delete": {"summary": "Delete Test Run", "description": "Deletes one or more test runs and cascades deletes to all related entities, including datapoints.\n\n!! Use With Caution !!\n\nArgs:\n    test_run_ids: List of UUIDs to delete\n\nRaises:\n    HTTPException: 404 if any test_run_id is not found\n    HTTPException: 422 if test_run_ids list is empty or invalid\n\nReturns: 204 status code on successful deletion", "operationId": "delete_test_run_v0_test_runs_delete", "parameters": [{"name": "test_run_ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string", "format": "uuid"}, "description": "List of Test Run IDs to delete", "title": "Test Run Ids"}, "description": "List of Test Run IDs to delete"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_run": {"post": {"summary": "Run Test", "operationId": "run_test_v0_test_run_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunPayloadV2"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_run/submit": {"post": {"summary": "Submit Test", "operationId": "submit_test_v0_test_run_submit_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunPayloadV2"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/evaluate": {"post": {"summary": "Evaluate", "operationId": "evaluate_v0_evaluate_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EvaluationPayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_runs/{test_run_id}/re_evaluate": {"post": {"summary": "Re Evaluate", "description": "Create a new test run by re-evaluating checks from a completed source run.\n\nReturns:\n    The newly created re-evaluated test run item.", "operationId": "re_evaluate_v0_test_runs__test_run_id__re_evaluate_post", "parameters": [{"name": "test_run_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of source test run", "title": "Test Run Id"}, "description": "ID of source test run"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReEvaluatePayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRunItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_run/create_failure_scenario/{test_run_id}": {"post": {"summary": "Create Failure Scenario", "description": "Create a ScenarioSet using the failed data points from a TestRun.\n\nReturns:\n    the new Failure Scenario response", "operationId": "create_failure_scenario_v0_test_run_create_failure_scenario__test_run_id__post", "parameters": [{"name": "test_run_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the test run to use for getting failed scenario data points.", "title": "Test Run Id"}, "description": "The ID of the test run to use for getting failed scenario data points."}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScenarioSetResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_data_point": {"post": {"summary": "Add Test Data Point", "description": "Add a test run metric\n\nReturns:\n    The persisted test run metric item", "operationId": "add_test_data_point_v0_test_data_point_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestDataPointPayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestDataPointResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/test_data_points/{test_data_point_id}": {"get": {"summary": "Get Test Data Point", "description": "Get a Test Run\n\nReturns:\n    the Test Run", "operationId": "get_test_data_point_v0_test_data_points__test_data_point_id__get", "parameters": [{"name": "test_data_point_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "The ID of the test data point to return", "title": "Test Data Point Id"}, "description": "The ID of the test data point to return"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestDataPointItem"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/find_test_data_points": {"post": {"summary": "Find Test Data Points", "description": "Find Test Data Points\n\nReturns:\n    a list of Test Data Points with full datapoint details", "operationId": "find_test_data_points_v0_find_test_data_points_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FindTestDataPointPayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/FullDataPointItem"}, "title": "Response Find Test Data Points V0 Find Test Data Points Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/update_test_data_point": {"post": {"summary": "Update Test Data Point", "description": "Find Test Data Point\n\nReturns:\n    a list of Test Data Points", "operationId": "update_test_data_point_v0_update_test_data_point_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateTestDataPointPayload"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "string", "title": "Response Update Test Data Point V0 Update Test Data Point Post"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/internal_custom_model_listener": {"get": {"summary": "Internal Custom Model Listener", "operationId": "internal_custom_model_listener_v0_internal_custom_model_listener_get", "parameters": [{"name": "mut_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Mut Id"}}, {"name": "nats_invoke_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Nats Invoke Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/test_custom_endpoint": {"post": {"summary": "Test Custom Endpoint", "operationId": "test_custom_endpoint_v0_test_custom_endpoint_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestCustomEndpointRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestCustomEndpointResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/custom_endpoint_stub/create": {"post": {"summary": "Create Assistant Thread", "description": "Creates a new Assistant thread with an initial system message.\n\nReturns:\n    AssistantThreadResponse: Contains the thread_id for future messages", "operationId": "create_assistant_thread_v0_custom_endpoint_stub_create_post", "parameters": [{"name": "thread_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Thread Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}, {"name": "authorization", "in": "header", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Authorization"}}], "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssistantThreadResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/custom_endpoint_stub/message": {"post": {"summary": "Send Assistant Message", "description": "Sends a new message to an existing Assistant thread and returns the JSON response.\n\nArgs:\n    payload: Contains thread_id and the user message\n\nReturns:\n    AssistantMessageResponse", "operationId": "send_assistant_message_v0_custom_endpoint_stub_message_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}, {"name": "authorization", "in": "header", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Authorization"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssistantMessageRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssistantMessageResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/custom_endpoint_stub/message/stream": {"post": {"summary": "Send Assistant Message Stream", "description": "SSE stream stub that emits chunks with mixed roles (agent / system).\n\nThis is a **parse-only test stub**: the full LLM response is generated eagerly\nand then split into word-level SSE chunks with no inter-chunk delay.\n\nChunk format::\n\n    {\"thread_id\": ..., \"message_id\": ..., \"role\": \"agent\"|\"system\",\n     \"assistant_response\": token, \"is_final\": false}\n\nThe stream starts with a ``role: \"system\"`` chunk (useful for testing\n``select`` conditions that filter by role), followed by ``role: \"agent\"``\ncontent chunks, and ends with an ``is_final: true`` agent chunk.\n\nThe ``assistant_response`` content key matches the default\n``response_message_path`` (``response.assistant_response``) so existing\nintegration tests work without change.", "operationId": "send_assistant_message_stream_v0_custom_endpoint_stub_message_stream_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}, {"name": "authorization", "in": "header", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Authorization"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssistantMessageRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/custom_endpoint_stub/end": {"post": {"summary": "End Assistant Thread", "description": "Ends an OpenAI Assistant thread and returns a thread summary.\n\nArgs:\n    thread_id: The ID of the thread to end\n\nReturns:\n    A confirmation message", "operationId": "end_assistant_thread_v0_custom_endpoint_stub_end_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}, {"name": "authorization", "in": "header", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Authorization"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssistantEndThreadRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssistantEndThreadResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/custom_endpoint_stub/token": {"post": {"summary": "Oauth Token", "description": "OAuth2 client_credentials stub. Returns a demo access token for any credentials.", "operationId": "oauth_token_v0_custom_endpoint_stub_token_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/x-www-form-urlencoded": {"schema": {"$ref": "#/components/schemas/Body_oauth_token_v0_custom_endpoint_stub_token_post"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OAuthTokenResponse"}}}}, "400": {"description": "Input data is incorrect", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Okareo API token has failed authentication", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "Data is not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Input data is invalid", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/v0/voice/upload": {"post": {"summary": "Upload Voice File", "description": "Upload a base64-encoded audio file (WAV or MP3).\n\nFiles are stored in their original format. Duration is extracted\nfrom audio headers.", "operationId": "upload_voice_file_v0_voice_upload_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VoiceUploadRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VoiceUploadResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/voice/file/{project_id}/{file_id}": {"get": {"summary": "Download File", "operationId": "download_file_v0_voice_file__project_id___file_id__get", "parameters": [{"name": "project_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Project Id"}}, {"name": "file_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "File Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/voice/call_sid/{call_sid}": {"get": {"summary": "Download File By Call Sid", "description": "Download a voice recording by call_sid.\n\nThis endpoint allows the UI to fetch recordings using just the call_sid\nfrom the datapoint metadata, without needing to know the file_id.\n\nArgs:\n    call_sid: Twilio CallSid (e.g., \"CA1234567890abcdef\")\n\nReturns:\n    StreamingResponse with the audio file (WAV format)\n\nRaises:\n    HTTPException 404: If no recording found for the call_sid", "operationId": "download_file_by_call_sid_v0_voice_call_sid__call_sid__get", "parameters": [{"name": "call_sid", "in": "path", "required": true, "schema": {"type": "string", "title": "Call Sid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/voice/twilio/recording": {"post": {"summary": "Twilio Recording Callback", "operationId": "twilio_recording_callback_v0_voice_twilio_recording_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Twilio Recording Callback V0 Voice Twilio Recording Post"}}}}}}}, "/v0/voice/twilio/status": {"post": {"summary": "Twilio Call Status", "operationId": "twilio_call_status_v0_voice_twilio_status_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Twilio Call Status V0 Voice Twilio Status Post"}}}}}}}, "/v0/voice/integration": {"post": {"summary": "Create Provider Integration", "operationId": "create_provider_integration_v0_voice_integration_post", "parameters": [{"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateProviderIntegrationRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProviderIntegrationResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/voice/integrations": {"get": {"summary": "List Provider Integrations", "operationId": "list_provider_integrations_v0_voice_integrations_get", "parameters": [{"name": "project_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "uuid"}, {"type": "null"}], "description": "Filter by project id", "title": "Project Id"}, "description": "Filter by project id"}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ProviderIntegrationResponse"}, "title": "Response List Provider Integrations V0 Voice Integrations Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/voice/integration/{integration_id}": {"get": {"summary": "Get Provider Integration", "operationId": "get_provider_integration_v0_voice_integration__integration_id__get", "parameters": [{"name": "integration_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Integration Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProviderIntegrationResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "patch": {"summary": "Update Provider Integration", "operationId": "update_provider_integration_v0_voice_integration__integration_id__patch", "parameters": [{"name": "integration_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Integration Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateProviderIntegrationRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProviderIntegrationResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"summary": "Delete Provider Integration", "operationId": "delete_provider_integration_v0_voice_integration__integration_id__delete", "parameters": [{"name": "integration_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Integration Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "responses": {"204": {"description": "Successful Response"}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/v0/voice/integration/{integration_id}/rotate": {"post": {"summary": "Rotate Provider Integration Secrets", "operationId": "rotate_provider_integration_secrets_v0_voice_integration__integration_id__rotate_post", "parameters": [{"name": "integration_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Integration Id"}}, {"name": "api-key", "in": "header", "required": true, "schema": {"type": "string", "title": "Api-Key"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RotateProviderIntegrationSecretsRequest"}}}}, "responses": {"200": {"description": "Suc
[...]
