{"openapi":"3.1.0","info":{"title":"Okareo API","version":"0.1.0"},"servers":[{"url":"https://api.okareo.com/"}],"paths":{"/v0/health":{"get":{"summary":"Healthcheck","operationId":"healthcheck_v0_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v0/project":{"post":{"summary":"Create Project","description":"Create a project\n\nReturns:\n    the id, name, and tags for the created project","operationId":"create_project_v0_project_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/project/{project_id}":{"get":{"summary":"Get Project","description":"Get a project\n\nReturns:\n    the requested project","operationId":"get_project_v0_project__project_id__get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"The ID of the project to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"summary":"Update Project","description":"Update a project\n\nReturns:\n    the requested project","operationId":"update_project_v0_project__project_id__put","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"The ID of the project to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/projects":{"get":{"summary":"Get All Projects","description":"Get a list of projects for this organization\n\nReturns:\n    a list of requested projects","operationId":"get_all_projects_v0_projects_get","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectResponse"},"title":"Response Get All Projects V0 Projects Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations":{"get":{"summary":"Get Generations","description":"gets all the generations created by a given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generations_v0_generations_get","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenerationList"},"title":"Response Get Generations V0 Generations Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"summary":"Add Generation","description":"Creates a new generation.\n\nReturns:\n    Object: same payload which was sent with 201 status code on success.","operationId":"add_generation_v0_generations_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationPayload"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}":{"get":{"summary":"Get Generation","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_v0_generations__generation_id__get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation V0 Generations  Generation Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete Generation","description":"Deletes the generation object from db\n\nRaises:\n    HTTPException: 404 if generation id is not found in the db\n\nReturns:\n    Object: Deleted true with 204 status code","operationId":"delete_generation_v0_generations__generation_id__delete","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}/schema":{"get":{"summary":"Get Generation Schema","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_schema_v0_generations__generation_id__schema_get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation Schema V0 Generations  Generation Id  Schema Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}/view":{"get":{"summary":"Get Generation View","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_view_v0_generations__generation_id__view_get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","title":"The ID of the item to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation View V0 Generations  Generation Id  View Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets":{"post":{"summary":"Create Scenario Set","description":"Triggers a generation of a test scenario set, could be long running.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.","operationId":"create_scenario_set_v0_scenario_sets_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/find_datapoints":{"post":{"summary":"Get Datapoints","description":"gets all the datapoints created by a given token.\n\nReturns:\n    list: An array of datapoint objects.","operationId":"get_datapoints_v0_find_datapoints_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSearch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DatapointListItem"},"title":"Response Get Datapoints V0 Find Datapoints Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/datapoints":{"post":{"summary":"Add Datapoint","description":"Add data point into the database.\n\nReturns:\n    Empty ressponse with 201 status code on success.","operationId":"add_datapoint_v0_datapoints_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/register_model":{"post":{"summary":"Register Model","description":"Register the model under test\n\nReturns:\n    the id of the registered model","operationId":"register_model_v0_register_model_post","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/model_under_test/{mut_id}":{"get":{"summary":"Get Model Under Test","description":"Get a model under test\n\nReturns:\n    the requested model under test","operationId":"get_model_under_test_v0_model_under_test__mut_id__get","parameters":[{"name":"mut_id","in":"path","required":true,"schema":{"type":"integer","title":"The ID of the model under test to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"summary":"Update Model Under Test","description":"Update a model under test\n\nReturns:\n    the updated model under test","operationId":"update_model_under_test_v0_model_under_test__mut_id__put","parameters":[{"name":"mut_id","in":"path","required":true,"schema":{"type":"integer","title":"The ID of the model under test to get"}},{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/models_under_test":{"get":{"summary":"Get All Models Under Test","description":"Get a list of models under test for this organization\n\nReturns:\n    a list of requested models under test","operationId":"get_all_models_under_test_v0_models_under_test_get","parameters":[{"name":"api-key","in":"header","required":true,"schema":{"type":"string","title":"Api-Key"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModelUnderTestResponse"},"title":"Response Get All Models Under Test V0 Models Under Test Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"DatapointListItem":{"properties":{"id":{"type":"integer","title":"Id"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]},"feedback":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Feedback"},"error_message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Message"},"error_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Code"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"context_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Context Token"},"mut_id":{"type":"integer","title":"Mut Id"},"project_id":{"type":"integer","title":"Project Id"}},"type":"object","required":["id"],"title":"DatapointListItem"},"DatapointResponse":{"properties":{"id":{"type":"integer","title":"Id"},"project_id":{"type":"integer","title":"Project Id"},"mut_id":{"type":"integer","minimum":0.0,"title":"Mut Id"}},"type":"object","required":["id"],"title":"DatapointResponse"},"DatapointSchema":{"properties":{"mut_id":{"type":"integer","minimum":0.0,"title":"Mut Id"},"input":{"type":"string","contentMediaType":"application/json","contentSchema":{},"title":"Input"},"input_datetime":{"type":"string","format":"date-time","title":"Input Datetime"},"result":{"type":"string","contentMediaType":"application/json","contentSchema":{},"title":"Result"},"result_datetime":{"type":"string","format":"date-time","title":"Result Datetime"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]},"feedback":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Feedback"},"error_message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Message"},"error_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Code"},"context_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Context Token"}},"type":"object","required":["input","input_datetime","result","result_datetime"],"title":"DatapointSchema"},"DatapointSearch":{"properties":{"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]},"from_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From Date","default":"2022-12-31T23:59:59.999999"},"to_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To Date"},"feedback":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Feedback"},"error_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Code"},"context_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Context Token"},"project_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Project Id"},"mut_id":{"type":"integer","title":"Mut Id"}},"type":"object","title":"DatapointSearch"},"GenerationList":{"properties":{"hash":{"type":"string","title":"Hash"},"time_created":{"type":"string","format":"date-time","title":"Time Created"}},"type":"object","required":["hash","time_created"],"title":"GenerationList"},"GenerationPayload":{"properties":{"schema":{"type":"string","contentMediaType":"application/json","contentSchema":{},"title":"Schema"},"view":{"type":"string","title":"View"},"return_results":{"type":"boolean","title":"Return Results","default":false}},"type":"object","required":["schema","view"],"title":"GenerationPayload"},"GenerationResponse":{"properties":{"hash":{"type":"string","title":"Hash"},"data":{"type":"string","title":"Data"}},"type":"object","required":["hash","data"],"title":"GenerationResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ModelUnderTestResponse":{"properties":{"id":{"type":"integer","title":"Id"},"project_id":{"type":"integer","title":"Project Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags"},"datapoint_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Datapoint Count"}},"type":"object","required":["id","project_id","name","tags"],"title":"ModelUnderTestResponse"},"ModelUnderTestSchema":{"properties":{"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"project_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Project Id"}},"type":"object","title":"ModelUnderTestSchema"},"ProjectResponse":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","required":["id","name"],"title":"ProjectResponse"},"ProjectSchema":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]}},"type":"object","title":"ProjectSchema"},"ScenarioSetCreate":{"properties":{"project_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Project Id"},"name":{"type":"string","title":"Name"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data"},"number_examples":{"type":"integer","exclusiveMinimum":0.0,"title":"Number Examples"}},"type":"object","required":["name","seed_data","number_examples"],"title":"ScenarioSetCreate"},"ScenarioSetResponse":{"properties":{"type":{"type":"string","title":"Type"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data"},"scenario_input":{"items":{"type":"string"},"type":"array","title":"Scenario Input"}},"type":"object","required":["type","seed_data"],"title":"ScenarioSetResponse"},"SeedData":{"properties":{"input":{"type":"string","title":"Input"},"result":{"type":"string","title":"Result"}},"type":"object","required":["input","result"],"title":"SeedData"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}
