{"openapi":"3.0.0","info":{"title":"Okareo API","version":"0.1.0"},"servers":[{"url":"https://api.okareo.com"}],"paths":{"/v0/projects":{"get":{"summary":"Get All Projects","description":"Get a list of projects for this organization\n\nReturns:\n    a list of requested projects","operationId":"get_all_projects_v0_projects_get","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ProjectResponse"},"type":"array","title":"Response Get All Projects V0 Projects Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create Project","description":"Create a project\n\nReturns:\n    the id, name, and tags for the created project","operationId":"create_project_v0_projects_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/projects/{project_id}":{"get":{"summary":"Get Project","description":"Get a project\n\nReturns:\n    the requested project","operationId":"get_project_v0_projects__project_id__get","parameters":[{"description":"The ID of the project","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id","description":"The ID of the project"},"name":"project_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update Project","description":"Update a project\n\nReturns:\n    the requested project","operationId":"update_project_v0_projects__project_id__put","parameters":[{"description":"ID of the project","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id","description":"ID of the project"},"name":"project_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/generations":{"get":{"summary":"Get Generations","description":"gets all the generations created by a given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generations_v0_generations_get","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/GenerationList"},"type":"array","title":"Response Get Generations V0 Generations Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Add Generation","description":"Creates a new generation.\n\nReturns:\n    Object: same payload which was sent with 201 status code on success.","operationId":"add_generation_v0_generations_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/generations/{generation_id}":{"get":{"summary":"Get Generation","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_v0_generations__generation_id__get","parameters":[{"description":"The ID of the generation","required":true,"schema":{"type":"string","title":"Generation Id","description":"The ID of the generation"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation V0 Generations  Generation Id  Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete Generation","description":"Deletes the generation object from db\n\nRaises:\n    HTTPException: 404 if generation id is not found in the db\n\nReturns:\n    Object: Deleted true with 204 status code","operationId":"delete_generation_v0_generations__generation_id__delete","parameters":[{"description":"The ID of the generation","required":true,"schema":{"type":"string","title":"Generation Id","description":"The ID of the generation"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"204":{"description":"Successful Response"},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/generations/{generation_id}/schema":{"get":{"summary":"Get Generation Schema","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_schema_v0_generations__generation_id__schema_get","parameters":[{"description":"The ID of the generation","required":true,"schema":{"type":"string","title":"Generation Id","description":"The ID of the generation"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation Schema V0 Generations  Generation Id  Schema Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/generations/{generation_id}/view":{"get":{"summary":"Get Generation View","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_view_v0_generations__generation_id__view_get","parameters":[{"description":"The ID of the generation","required":true,"schema":{"type":"string","title":"Generation Id","description":"The ID of the generation"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation View V0 Generations  Generation Id  View Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets":{"get":{"summary":"Get Scenario Sets","description":"Find all scenario sets based on either the project id or the scenario id\n\nReturns:\n    a list of scenario sets (project id) or a list of scenarios (scenario id)","operationId":"get_scenario_sets_v0_scenario_sets_get","parameters":[{"description":"The ID of the scenario set","required":false,"schema":{"type":"string","format":"uuid","title":"Scenario Id","description":"The ID of the scenario set"},"name":"scenario_id","in":"query"},{"description":"The ID of the project","required":false,"schema":{"type":"string","format":"uuid","title":"Project Id","description":"The ID of the project"},"name":"project_id","in":"query"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ScenarioSetResponse"},"type":"array","title":"Response Get Scenario Sets V0 Scenario Sets Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create Scenario Set","description":"Triggers a generation of a test scenario set, could be long running.\nThis scenario set can now be used for testing on a model.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.","operationId":"create_scenario_set_v0_scenario_sets_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetCreate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets/{scenario_id}":{"put":{"summary":"Update Scenario Set","description":"Update a Scenario Set\n\nReturns:\n    the updated Scenario Set","operationId":"update_scenario_set_v0_scenario_sets__scenario_id__put","parameters":[{"description":"The ID of the scenario set to modify","required":true,"schema":{"type":"string","format":"uuid","title":"Scenario Id","description":"The ID of the scenario set to modify"},"name":"scenario_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetUpdate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets_upload/":{"post":{"summary":"Scenario Sets Upload Deprecated","operationId":"scenario_sets_upload_deprecated_v0_scenario_sets_upload__post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_scenario_sets_upload_deprecated_v0_scenario_sets_upload__post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets_upload":{"post":{"summary":"Scenario Sets Upload","description":"Upload new scenarios\n\nReturns:\n    the Scenario Set with the uploaded scenarios","operationId":"scenario_sets_upload_v0_scenario_sets_upload_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_scenario_sets_upload_v0_scenario_sets_upload_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets_download/{scenario_id}":{"get":{"summary":"Get Scenario Sets Download","description":"Get the scenario set for a particular scenario ID\n\nReturns:\n    a list of scenarios","operationId":"get_scenario_sets_download_v0_scenario_sets_download__scenario_id__get","parameters":[{"description":"The ID of the scenario set","required":true,"schema":{"type":"string","title":"Scenario Id","description":"The ID of the scenario set"},"name":"scenario_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets/":{"get":{"summary":"Get Scenario Sets Deprecated","operationId":"get_scenario_sets_deprecated_v0_scenario_sets__get","parameters":[{"description":"The ID of the scenario set","required":false,"schema":{"type":"string","format":"uuid","title":"Scenario Id","description":"The ID of the scenario set"},"name":"scenario_id","in":"query"},{"description":"The ID of the project","required":false,"schema":{"type":"string","format":"uuid","title":"Project Id","description":"The ID of the project"},"name":"project_id","in":"query"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ScenarioSetResponse"},"type":"array","title":"Response Get Scenario Sets Deprecated V0 Scenario Sets  Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_data_points/{scenario_id}":{"get":{"summary":"Get Scenario Set Data Points","description":"Get all scenarios datapoints\n\nReturns:\n    a list of scenario datapoints","operationId":"get_scenario_set_data_points_v0_scenario_data_points__scenario_id__get","parameters":[{"description":"The ID of the scenario set to download","required":true,"schema":{"type":"string","format":"uuid","title":"Scenario Id","description":"The ID of the scenario set to download"},"name":"scenario_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ScenarioDataPoinResponse"},"type":"array","title":"Response Get Scenario Set Data Points V0 Scenario Data Points  Scenario Id  Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/scenario_sets_generate":{"post":{"summary":"Generate Scenario Set","description":"Triggers a generation of a scenario set based on source scenario ID, could be long running.\nA registered model can now use this scenario set for testing.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.","operationId":"generate_scenario_set_v0_scenario_sets_generate_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetGenerate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/find_datapoints":{"post":{"summary":"Get Datapoints","description":"gets all the datapoints created by a given token.\n\nReturns:\n    list: An array of datapoint objects.","operationId":"get_datapoints_v0_find_datapoints_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSearch"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/DatapointListItem"},"type":"array","title":"Response Get Datapoints V0 Find Datapoints Post"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/datapoints":{"post":{"summary":"Add Datapoint","description":"Add a datapoint for a particular registered model\n\nReturns:\n    Empty ressponse with 201 status code on success.","operationId":"add_datapoint_v0_datapoints_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete Generation","description":"Deletes the datapoint object from db","operationId":"delete_generation_v0_datapoints_delete","parameters":[{"description":"The ID of the model","required":false,"schema":{"type":"string","title":"Mut Id","description":"The ID of the model"},"name":"mut_id","in":"query"},{"description":"The ID of the test run","required":false,"schema":{"type":"string","title":"Test Run Id","description":"The ID of the test run"},"name":"test_run_id","in":"query"},{"description":"The ID of the scenario set","required":false,"schema":{"type":"string","title":"Scenario Set Id","description":"The ID of the scenario set"},"name":"scenario_set_id","in":"query"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/register_model":{"post":{"summary":"Register Model","description":"Register a model for testing. This model can then be tested using a scenario set.\n\nReturns:\n    the id of the registered model","operationId":"register_model_v0_register_model_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/models_under_test/{mut_id}":{"get":{"summary":"Get Model Under Test","description":"Get a model under test\n\nReturns:\n    the requested model under test","operationId":"get_model_under_test_v0_models_under_test__mut_id__get","parameters":[{"description":"The ID of the model","required":true,"schema":{"type":"string","format":"uuid","title":"Mut Id","description":"The ID of the model"},"name":"mut_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update Model Under Test","description":"Update a model under test\n\nReturns:\n    the updated model under test","operationId":"update_model_under_test_v0_models_under_test__mut_id__put","parameters":[{"description":"The ID of the model under test","required":true,"schema":{"type":"string","format":"uuid","title":"Mut Id","description":"The ID of the model under test"},"name":"mut_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/models_under_test":{"get":{"summary":"Get All Models Under Test","description":"Get a list of models under test for this organization\n\nReturns:\n    a list of requested models under test","operationId":"get_all_models_under_test_v0_models_under_test_get","parameters":[{"description":"The ID of the project","required":false,"schema":{"type":"string","format":"uuid","title":"Project Id","description":"The ID of the project"},"name":"project_id","in":"query"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ModelUnderTestResponse"},"type":"array","title":"Response Get All Models Under Test V0 Models Under Test Get"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/get_semantic_overlap":{"post":{"summary":"Get Semantic Overlap","operationId":"get_semantic_overlap_v0_get_semantic_overlap_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemanticPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemanticResult"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/find_test_runs":{"post":{"summary":"Find Test Run","description":"Find Test Runs\n\nReturns:\n    a list of Test Runs","operationId":"find_test_run_v0_find_test_runs_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneralFindPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TestRunItem"},"type":"array","title":"Response Find Test Run V0 Find Test Runs Post"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/test_runs/{test_run_id}":{"get":{"summary":"Get Test Run","description":"Get a Test Run\n\nReturns:\n    the Test Run","operationId":"get_test_run_v0_test_runs__test_run_id__get","parameters":[{"description":"ID of test run","required":true,"schema":{"type":"string","format":"uuid","title":"Test Run Id","description":"ID of test run"},"name":"test_run_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update Test Run","description":"Update a Test Run\nReturns:\n    the updated Test Run","operationId":"update_test_run_v0_test_runs__test_run_id__put","parameters":[{"description":"The ID of the test run to modify","required":true,"schema":{"type":"string","format":"uuid","title":"Test Run Id","description":"The ID of the test run to modify"},"name":"test_run_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/test_run":{"post":{"summary":"Run Test","description":"Runs tests on a model (mut_id) using previously generated scenario.\nFeeds the scenario data (scenario_id) into the model and evaulates results\ndepending on the test type specified.\n\nReturns:\n    The test run data which includes the evaluated metrics from the run.","operationId":"run_test_v0_test_run_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunPayloadV2"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/test_data_point":{"post":{"summary":"Add Test Data Point","description":"Add a test run metric\n\nReturns:\n    The persisted test run metric item","operationId":"add_test_data_point_v0_test_data_point_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestDataPointPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestDataPointResponse"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/test_data_points/{test_data_point_id}":{"get":{"summary":"Get Test Data Point","description":"Get a Test Run\n\nReturns:\n    the Test Run","operationId":"get_test_data_point_v0_test_data_points__test_data_point_id__get","parameters":[{"description":"The ID of the test data point to return","required":true,"schema":{"type":"string","format":"uuid","title":"Test Data Point Id","description":"The ID of the test data point to return"},"name":"test_data_point_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestDataPointItem"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v0/find_test_data_points":{"post":{"summary":"Find Test Data Points","description":"Find Test Data Point\n\nReturns:\n    a list of Test Data Points","operationId":"find_test_data_points_v0_find_test_data_points_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindTestDataPointPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TestDataPointItem"},"type":"array","title":"Response Find Test Data Points V0 Find Test Data Points Post"}}}},"400":{"description":"Input data is incorrect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Data is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Input data is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Body_scenario_sets_upload_deprecated_v0_scenario_sets_upload__post":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"Project ID or None for default project"},"name":{"type":"string","title":"Name","description":"Name of the Scenario Set"},"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["name"],"title":"Body_scenario_sets_upload_deprecated_v0_scenario_sets_upload__post"},"Body_scenario_sets_upload_v0_scenario_sets_upload_post":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"Project ID or None for default project"},"name":{"type":"string","title":"Name","description":"Name of the Scenario Set"},"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["name"],"title":"Body_scenario_sets_upload_v0_scenario_sets_upload_post"},"DatapointListItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"input":{"anyOf":[{"type":"object"},{"items":{},"type":"array"},{"type":"string"}],"title":"Input"},"input_datetime":{"type":"string","format":"date-time","title":"Input Datetime"},"result":{"anyOf":[{"type":"object"},{"items":{},"type":"array"},{"type":"string"}],"title":"Result"},"result_datetime":{"type":"string","format":"date-time","title":"Result Datetime"},"feedback":{"type":"number","title":"Feedback"},"error_message":{"type":"string","title":"Error Message"},"error_code":{"type":"string","title":"Error Code"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"context_token":{"type":"string","title":"Context Token"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"}},"type":"object","required":["id"],"title":"DatapointListItem"},"DatapointResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"}},"type":"object","required":["id"],"title":"DatapointResponse"},"DatapointSchema":{"properties":{"mut_id":{"type":"string","format":"uuid","title":"Mut Id","description":"Model ID"},"input":{"type":"string","format":"json-string","title":"Input","description":"Inputted value into the model"},"input_datetime":{"type":"string","format":"date-time","title":"Input Datetime","description":"Datetime for the input"},"result":{"type":"string","format":"json-string","title":"Result","description":"Outputted value from the model based on the input"},"result_datetime":{"type":"string","format":"date-time","title":"Result Datetime","description":"Datetime for the result"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter datapoints in the Okareo app","default":[]},"feedback":{"type":"number","title":"Feedback","description":"Feedback is a 0 to 1 float value that captures user feedback range for related datapoint results"},"error_message":{"type":"string","title":"Error Message"},"error_code":{"type":"string","title":"Error Code"},"context_token":{"type":"string","title":"Context Token","description":"Context token is a unique token to link various datapoints which originate from the same context"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id","description":"ID of testrun"}},"type":"object","title":"DatapointSchema"},"DatapointSearch":{"properties":{"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter datapoints in the Okareo app","default":[]},"from_date":{"type":"string","format":"date-time","title":"From Date","description":"Earliest date","default":"2022-12-31T23:59:59.999999"},"to_date":{"type":"string","format":"date-time","title":"To Date","description":"Latest date"},"feedback":{"type":"number","title":"Feedback","description":"Feedback is a 0 to 1 float value that captures user feedback range for related datapoint results"},"error_code":{"type":"string","title":"Error Code"},"context_token":{"type":"string","title":"Context Token","description":"Context token is a unique token to link various datapoints which originate from the same context"},"project_id":{"type":"string","title":"Project Id","description":"Project ID"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id","description":"Model ID"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id","description":"Test run ID"}},"type":"object","title":"DatapointSearch"},"ErrorResponse":{"properties":{"detail":{"type":"string","title":"Detail"}},"type":"object","required":["detail"],"title":"ErrorResponse"},"FindTestDataPointPayload":{"properties":{"id":{"type":"string","format":"uuid","title":"Id","description":"ID of the datapoint"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id","description":"ID of the test run"},"scenario_data_point_id":{"type":"string","format":"uuid","title":"Scenario Data Point Id","description":"ID of the scenario data point"},"metric_type":{"type":"string","title":"Metric Type"}},"type":"object","title":"FindTestDataPointPayload"},"GeneralFindPayload":{"properties":{"id":{"type":"string","format":"uuid","title":"Id","description":"ID for the testrun"},"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"ID for the project"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id","description":"ID of the model"},"scenario_set_id":{"type":"string","format":"uuid","title":"Scenario Set Id","description":"ID of the scenario set"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter test runs in the Okareo app","default":[]}},"type":"object","title":"GeneralFindPayload"},"GenerationList":{"properties":{"hash":{"type":"string","title":"Hash"},"time_created":{"type":"string","format":"date-time","title":"Time Created"}},"type":"object","required":["hash","time_created"],"title":"GenerationList"},"GenerationPayload":{"properties":{"json_schema":{"type":"string","format":"json-string","title":"Json Schema"},"view":{"type":"string","title":"View"},"return_results":{"type":"boolean","title":"Return Results","description":"Boolean value indicating if results of the generation should be returned","default":false}},"type":"object","required":["view"],"title":"GenerationPayload"},"GenerationResponse":{"properties":{"hash":{"type":"string","title":"Hash"},"data":{"type":"string","title":"Data"}},"type":"object","required":["hash","data"],"title":"GenerationResponse"},"ModelUnderTestResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags"},"time_created":{"type":"string","title":"Time Created"},"datapoint_count":{"type":"integer","title":"Datapoint Count"}},"type":"object","required":["id","project_id","name","tags","time_created"],"title":"ModelUnderTestResponse"},"ModelUnderTestSchema":{"properties":{"name":{"type":"string","title":"Name","description":"Name of the model"},"models":{"additionalProperties":{"type":"object"},"type":"object","title":"Models","description":"Models to be added for testing"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter models in the Okareo app","default":[]},"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"ID of the project"}},"type":"object","title":"ModelUnderTestSchema"},"ProjectResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","required":["id","name"],"title":"ProjectResponse"},"ProjectSchema":{"properties":{"name":{"type":"string","title":"Name","description":"Name of the project"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter projects in the Okareo app","default":[]}},"type":"object","title":"ProjectSchema"},"ScenarioDataPoinResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"input":{"anyOf":[{"type":"object"},{"items":{},"type":"array"},{"type":"string"}],"title":"Input"},"result":{"anyOf":[{"type":"object"},{"items":{},"type":"array"},{"type":"string"}],"title":"Result"},"meta_data":{"type":"string","format":"json-string","title":"Meta Data"}},"type":"object","required":["id","input","result"],"title":"ScenarioDataPoinResponse"},"ScenarioSetCreate":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"ID for the project"},"name":{"type":"string","title":"Name","description":"Name of the scenario set"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data","description":"Seed data is a list of dictionaries, each with an input and result"},"number_examples":{"type":"integer","title":"Number Examples","description":"Number of examples"},"generation_type":{"allOf":[{"$ref":"#/components/schemas/ScenarioType"}],"description":"Type of generation. Current supported scenario types are:<br />\n        Seed: Seed data for a scenario set<br />\n        Rephrase invariant: Results will be rephrased versions of inputs<br />\n        Conditional: Results will be rephrased inputs represented in a conditional format<br />\n        Text reverse question: The result will be the target question for the input<br />\n        Text reverse label: The result will be the intent of the target question for the input","default":"SEED"}},"type":"object","required":["name","seed_data","number_examples"],"title":"ScenarioSetCreate"},"ScenarioSetGenerate":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"ID for the project"},"source_scenario_id":{"type":"string","format":"uuid","title":"Source Scenario Id","description":"ID for the scenario set that the generated scenario set will use as a source"},"name":{"type":"string","title":"Name","description":"Name of the generated scenario set"},"number_examples":{"type":"integer","title":"Number Examples","description":"Number of examples to be generated for the scenario set"},"generation_type":{"allOf":[{"$ref":"#/components/schemas/ScenarioType"}],"description":"Type of generation. Current supported scenario types are:<br />\n        Seed: Seed data for a scenario set<br />\n        Rephrase invariant: Results will be rephrased versions of inputs<br />\n        Conditional: Results will be rephrased inputs represented in a conditional format<br />\n        Text reverse question: The result will be the target question for the input<br />\n        Text reverse label: The result will be the intent of the target question for the input","default":"REPHRASE_INVARIANT"}},"type":"object","required":["source_scenario_id","name","number_examples"],"title":"ScenarioSetGenerate"},"ScenarioSetResponse":{"properties":{"scenario_id":{"type":"string","format":"uuid","title":"Scenario Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"type":{"type":"string","title":"Type"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"name":{"type":"string","title":"Name"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data","default":[]},"scenario_count":{"type":"integer","title":"Scenario Count","default":0},"scenario_input":{"items":{"type":"string"},"type":"array","title":"Scenario Input","default":[]}},"type":"object","required":["scenario_id","project_id","time_created","type"],"title":"ScenarioSetResponse"},"ScenarioSetUpdate":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"ID for the project"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"type":{"type":"string","title":"Type","description":"Generation type of scenario"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter scenario sets in the Okareo app","default":[]},"name":{"type":"string","title":"Name","description":"Name of the scenario set"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data","description":"Seed data is a list of dictionaries, each with an input and result","default":[]},"scenario_input":{"items":{"type":"string"},"type":"array","title":"Scenario Input","default":[]}},"type":"object","title":"ScenarioSetUpdate"},"ScenarioType":{"enum":["SEED","REPHRASE_INVARIANT","CONDITIONAL","TEXT_REVERSE_QUESTION","TEXT_REVERSE_LABELED","TERM_RELEVANCE_INVARIANT","LABEL_REVERSE_INVARIANT","ROUNDTRIP_INVARIANT","NEGATION","NAMED_ENTITY_SUBSTITUTION"],"title":"ScenarioType","description":"An enumeration."},"SeedData":{"properties":{"input":{"type":"string","title":"Input"},"result":{"anyOf":[{"type":"string"},{"items":{"type":"string"},"type":"array"}],"title":"Result"}},"type":"object","required":["input","result"],"title":"SeedData"},"SemanticPayload":{"properties":{"source_text":{"type":"string","title":"Source Text"},"output_text":{"type":"string","title":"Output Text"}},"type":"object","required":["source_text","output_text"],"title":"SemanticPayload"},"SemanticResult":{"properties":{"document_sentences":{"items":{"type":"string"},"type":"array","title":"Document Sentences"},"summary_sentences":{"items":{"type":"string"},"type":"array","title":"Summary Sentences"},"scores":{"items":{"items":{"type":"string"},"type":"array"},"type":"array","title":"Scores"}},"type":"object","required":["document_sentences","summary_sentences","scores"],"title":"SemanticResult"},"TestDataPointItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"scenario_data_point_id":{"type":"string","format":"uuid","title":"Scenario Data Point Id"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"},"metric_type":{"type":"string","title":"Metric Type"},"metric_value":{"type":"object","title":"Metric Value"}},"type":"object","required":["id","scenario_data_point_id","test_run_id","metric_type","metric_value"],"title":"TestDataPointItem"},"TestDataPointPayload":{"properties":{"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id","description":"ID for the testrun"},"scenario_data_point_id":{"type":"string","format":"uuid","title":"Scenario Data Point Id","description":"ID of the scenario data point"},"metric_type":{"type":"string","title":"Metric Type"},"metric_value":{"type":"string","format":"json-string","title":"Metric Value"}},"type":"object","title":"TestDataPointPayload"},"TestDataPointResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["id"],"title":"TestDataPointResponse"},"TestRunItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"scenario_set_id":{"type":"string","format":"uuid","title":"Scenario Set Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"type":{"type":"string","title":"Type"},"start_time":{"type":"string","format":"date-time","title":"Start Time"},"end_time":{"type":"string","format":"date-time","title":"End Time"},"test_data_point_count":{"type":"integer","title":"Test Data Point Count"},"model_metrics":{"type":"object","title":"Model Metrics"},"error_matrix":{"items":{},"type":"array","title":"Error Matrix"}},"type":"object","required":["id","project_id","mut_id","scenario_set_id"],"title":"TestRunItem"},"TestRunPayload":{"properties":{"mut_id":{"type":"string","format":"uuid","title":"Mut Id","description":"ID of model"},"scenario_set_id":{"type":"string","format":"uuid","title":"Scenario Set Id","description":"ID of scenario set"},"name":{"type":"string","title":"Name","description":"Name of test run"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter test runs in the Okareo app","default":[]},"type":{"allOf":[{"$ref":"#/components/schemas/TestRunType"}],"description":"The type of test run will determine which relevant model metrics should be calculated."},"start_time":{"type":"string","format":"date-time","title":"Start Time"},"end_time":{"type":"string","format":"date-time","title":"End Time"},"calculate_model_metrics":{"type":"boolean","title":"Calculate Model Metrics","description":"Boolean value indicating if model metrics should be calculated","default":false}},"type":"object","title":"TestRunPayload"},"TestRunPayloadV2":{"properties":{"mut_id":{"type":"string","format":"uuid","title":"Mut Id","description":"ID of the model"},"api_keys":{"additionalProperties":{"type":"string"},"type":"object","title":"Api Keys","description":"Dictionary that maps model type to the respective API keys"},"metrics_kwargs":{"additionalProperties":{"items":{"type":"integer"},"type":"array"},"type":"object","title":"Metrics Kwargs","description":"Dictionary of metrics to be measured","default":{}},"name":{"type":"string","title":"Name","description":"Name of the test run"},"type":{"allOf":[{"$ref":"#/components/schemas/TestRunType"}],"description":"The type of test run will determine which relevant model metrics should be calculated","default":"MULTI_CLASS_CLASSIFICATION"},"calculate_metrics":{"type":"boolean","title":"Calculate Metrics","description":"Boolean value indicating if metrics should be calculated for the test run","default":false},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags are strings that can be used to filter test runs in the Okareo app","default":[]},"scenario_id":{"type":"string","format":"uuid","title":"Scenario Id","description":"ID of the scenario set"},"project_id":{"type":"string","format":"uuid","title":"Project Id","description":"ID of the project"},"model_results":{"type":"object","title":"Model Results"}},"type":"object","required":["mut_id","scenario_id"],"title":"TestRunPayloadV2"},"TestRunType":{"type":"string","enum":["MULTI_CLASS_CLASSIFICATION","INFORMATION_RETRIEVAL","NL_GENERATION","invariant"],"title":"TestRunType","description":"An enumeration."}}}}