{"openapi":"3.0.0","info":{"title":"Okareo API","version":"0.1.0"},"servers":[{"url":"https://api.okareo.com"}],"paths":{"/v0/health":{"get":{"summary":"Healthcheck","operationId":"healthcheck_v0_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v0/projects":{"get":{"summary":"Get All Projects","description":"Get a list of projects for this organization\n\nReturns:\n    a list of requested projects","operationId":"get_all_projects_v0_projects_get","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ProjectResponse"},"type":"array","title":"Response Get All Projects V0 Projects Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"summary":"Create Project","description":"Create a project\n\nReturns:\n    the id, name, and tags for the created project","operationId":"create_project_v0_projects_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/projects/{project_id}":{"get":{"summary":"Get Project","description":"Get a project\n\nReturns:\n    the requested project","operationId":"get_project_v0_projects__project_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the project to get"},"name":"project_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"summary":"Update Project","description":"Update a project\n\nReturns:\n    the requested project","operationId":"update_project_v0_projects__project_id__put","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the project to get"},"name":"project_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations":{"get":{"summary":"Get Generations","description":"gets all the generations created by a given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generations_v0_generations_get","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/GenerationList"},"type":"array","title":"Response Get Generations V0 Generations Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"summary":"Add Generation","description":"Creates a new generation.\n\nReturns:\n    Object: same payload which was sent with 201 status code on success.","operationId":"add_generation_v0_generations_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}":{"get":{"summary":"Get Generation","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_v0_generations__generation_id__get","parameters":[{"required":true,"schema":{"type":"string","title":"The ID of the item to get"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation V0 Generations  Generation Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete Generation","description":"Deletes the generation object from db\n\nRaises:\n    HTTPException: 404 if generation id is not found in the db\n\nReturns:\n    Object: Deleted true with 204 status code","operationId":"delete_generation_v0_generations__generation_id__delete","parameters":[{"required":true,"schema":{"type":"string","title":"The ID of the item to get"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}/schema":{"get":{"summary":"Get Generation Schema","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_schema_v0_generations__generation_id__schema_get","parameters":[{"required":true,"schema":{"type":"string","title":"The ID of the item to get"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation Schema V0 Generations  Generation Id  Schema Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/generations/{generation_id}/view":{"get":{"summary":"Get Generation View","description":"gets a specific generation by id/hash for the given user.\n\nReturns:\n    list: An array of generation' objects.","operationId":"get_generation_view_v0_generations__generation_id__view_get","parameters":[{"required":true,"schema":{"type":"string","title":"The ID of the item to get"},"name":"generation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Get Generation View V0 Generations  Generation Id  View Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets":{"post":{"summary":"Create Scenario Set","description":"Triggers a generation of a test scenario set, could be long running.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.","operationId":"create_scenario_set_v0_scenario_sets_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetCreate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets/{scenario_id}":{"put":{"summary":"Update Scenario Set","description":"Update a Scenario Set\n\nReturns:\n    the updated Scenario Set","operationId":"update_scenario_set_v0_scenario_sets__scenario_id__put","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the scenario set to modify"},"name":"scenario_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetUpdate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets_upload/":{"post":{"summary":"Scenario Sets Upload","operationId":"scenario_sets_upload_v0_scenario_sets_upload__post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_scenario_sets_upload_v0_scenario_sets_upload__post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets_download/{scenario_id}":{"get":{"summary":"Get Scenario Sets Download","operationId":"get_scenario_sets_download_v0_scenario_sets_download__scenario_id__get","parameters":[{"required":true,"schema":{"type":"string","title":"The ID of the scenario set to download"},"name":"scenario_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets/":{"get":{"summary":"Get Scenario Sets","operationId":"get_scenario_sets_v0_scenario_sets__get","parameters":[{"required":false,"schema":{"type":"string","format":"uuid","title":"Scenario Id"},"name":"scenario_id","in":"query"},{"required":false,"schema":{"type":"string","format":"uuid","title":"Project Id"},"name":"project_id","in":"query"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ScenarioSetResponse"},"type":"array","title":"Response Get Scenario Sets V0 Scenario Sets  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_data_points/{scenario_id}":{"get":{"summary":"Get Scenario Set Data Points","operationId":"get_scenario_set_data_points_v0_scenario_data_points__scenario_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Scenario Id"},"name":"scenario_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ScenarioDataPoinResponse"},"type":"array","title":"Response Get Scenario Set Data Points V0 Scenario Data Points  Scenario Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/scenario_sets_generate":{"post":{"summary":"Generate Scenario Set","description":"Triggers a generation of a scenario set based on source scenario ID, could be long running.\n\nReturns:\n    Object: generation result with '201 Created' status code on success.","operationId":"generate_scenario_set_v0_scenario_sets_generate_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetGenerate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioSetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/find_datapoints":{"post":{"summary":"Get Datapoints","description":"gets all the datapoints created by a given token.\n\nReturns:\n    list: An array of datapoint objects.","operationId":"get_datapoints_v0_find_datapoints_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSearch"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/DatapointListItem"},"type":"array","title":"Response Get Datapoints V0 Find Datapoints Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/datapoints":{"post":{"summary":"Add Datapoint","description":"Add data point into the database.\n\nReturns:\n    Empty ressponse with 201 status code on success.","operationId":"add_datapoint_v0_datapoints_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatapointResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/register_model":{"post":{"summary":"Register Model","description":"Register the model under test\n\nReturns:\n    the id of the registered model","operationId":"register_model_v0_register_model_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/models_under_test/{mut_id}":{"get":{"summary":"Get Model Under Test","description":"Get a model under test\n\nReturns:\n    the requested model under test","operationId":"get_model_under_test_v0_models_under_test__mut_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the model under test to get"},"name":"mut_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"summary":"Update Model Under Test","description":"Update a model under test\n\nReturns:\n    the updated model under test","operationId":"update_model_under_test_v0_models_under_test__mut_id__put","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the model under test to get"},"name":"mut_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestSchema"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUnderTestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/models_under_test":{"get":{"summary":"Get All Models Under Test","description":"Get a list of models under test for this organization\n\nReturns:\n    a list of requested models under test","operationId":"get_all_models_under_test_v0_models_under_test_get","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ModelUnderTestResponse"},"type":"array","title":"Response Get All Models Under Test V0 Models Under Test Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/find_test_runs":{"post":{"summary":"Find Test Run","description":"Find Test Runs\n\nReturns:\n    a list of Test Runs","operationId":"find_test_run_v0_find_test_runs_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneralFindPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TestRunItem"},"type":"array","title":"Response Find Test Run V0 Find Test Runs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/test_runs/{test_run_id}":{"get":{"summary":"Get Test Run","description":"Get a Test Run\n\nReturns:\n    the Test Run","operationId":"get_test_run_v0_test_runs__test_run_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the test run to return"},"name":"test_run_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"summary":"Update Test Run","description":"Update a Test Run\n\nReturns:\n    the updated Test Run","operationId":"update_test_run_v0_test_runs__test_run_id__put","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the test run to modify"},"name":"test_run_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/test_run":{"post":{"summary":"Run Test","operationId":"run_test_v0_test_run_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunPayloadV2"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/test_runs":{"post":{"summary":"Add Test Run","description":"Add a test run\n\nReturns:\n    The persisted test run item","operationId":"add_test_run_v0_test_runs_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRunItem"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/test_data_point":{"post":{"summary":"Add Test Data Point","description":"Add a test run metric\n\nReturns:\n    The persisted test run metric item","operationId":"add_test_data_point_v0_test_data_point_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestDataPointPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestDataPointResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/test_data_points/{test_data_point_id}":{"get":{"summary":"Get Test Data Point","description":"Get a Test Run\n\nReturns:\n    the Test Run","operationId":"get_test_data_point_v0_test_data_points__test_data_point_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"The ID of the test run data point to return"},"name":"test_data_point_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestDataPointItem"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/find_test_data_points":{"post":{"summary":"Find Test Data Points","description":"Find Test Data Point\n\nReturns:\n    a list of Test Data Points","operationId":"find_test_data_points_v0_find_test_data_points_post","parameters":[{"required":true,"schema":{"type":"string","title":"Api-Key"},"name":"api-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindTestDataPointPayload"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TestDataPointItem"},"type":"array","title":"Response Find Test Data Points V0 Find Test Data Points Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Body_scenario_sets_upload_v0_scenario_sets_upload__post":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project ID or null for default project"},"name":{"type":"string","title":"Name of the Scenario Set"},"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["name"],"title":"Body_scenario_sets_upload_v0_scenario_sets_upload__post"},"DatapointListItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"input":{"anyOf":[{"type":"object"},{"type":"string"}],"title":"Input"},"input_datetime":{"type":"string","format":"date-time","title":"Input Datetime"},"result":{"anyOf":[{"type":"object"},{"type":"string"}],"title":"Result"},"result_datetime":{"type":"string","format":"date-time","title":"Result Datetime"},"feedback":{"type":"integer","title":"Feedback"},"error_message":{"type":"string","title":"Error Message"},"error_code":{"type":"string","title":"Error Code"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"context_token":{"type":"string","title":"Context Token"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"}},"type":"object","required":["id","input","result"],"title":"DatapointListItem"},"DatapointResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"}},"type":"object","required":["id"],"title":"DatapointResponse"},"DatapointSchema":{"properties":{"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"input":{"type":"string","format":"json-string","title":"Input"},"input_datetime":{"type":"string","format":"date-time","title":"Input Datetime"},"result":{"type":"string","format":"json-string","title":"Result"},"result_datetime":{"type":"string","format":"date-time","title":"Result Datetime"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"feedback":{"type":"integer","title":"Feedback"},"error_message":{"type":"string","title":"Error Message"},"error_code":{"type":"string","title":"Error Code"},"context_token":{"type":"string","title":"Context Token"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"}},"type":"object","required":["input_datetime","result_datetime"],"title":"DatapointSchema"},"DatapointSearch":{"properties":{"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"from_date":{"type":"string","format":"date-time","title":"From Date","default":"2022-12-31T23:59:59.999999"},"to_date":{"type":"string","format":"date-time","title":"To Date"},"feedback":{"type":"integer","title":"Feedback"},"error_code":{"type":"string","title":"Error Code"},"context_token":{"type":"string","title":"Context Token"},"project_id":{"type":"string","title":"Project Id"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"}},"type":"object","title":"DatapointSearch"},"FindTestDataPointPayload":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"},"scenario_data_point_id":{"type":"string","format":"uuid","title":"Scenario Data Point Id"},"metric_type":{"type":"string","title":"Metric Type"}},"type":"object","title":"FindTestDataPointPayload"},"GeneralFindPayload":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"scenario_set_id":{"type":"string","format":"uuid","title":"Scenario Set Id"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","title":"GeneralFindPayload"},"GenerationList":{"properties":{"hash":{"type":"string","title":"Hash"},"time_created":{"type":"string","format":"date-time","title":"Time Created"}},"type":"object","required":["hash","time_created"],"title":"GenerationList"},"GenerationPayload":{"properties":{"json_schema":{"type":"string","format":"json-string","title":"Json Schema"},"view":{"type":"string","title":"View"},"return_results":{"type":"boolean","title":"Return Results","default":false}},"type":"object","required":["view"],"title":"GenerationPayload"},"GenerationResponse":{"properties":{"hash":{"type":"string","title":"Hash"},"data":{"type":"string","title":"Data"}},"type":"object","required":["hash","data"],"title":"GenerationResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ModelUnderTestResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags"},"datapoint_count":{"type":"integer","title":"Datapoint Count"}},"type":"object","required":["id","project_id","name","tags"],"title":"ModelUnderTestResponse"},"ModelUnderTestSchema":{"properties":{"name":{"type":"string","title":"Name"},"model":{"$ref":"#/components/schemas/TestRunModelPayload"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"project_id":{"type":"string","format":"uuid","title":"Project Id"}},"type":"object","title":"ModelUnderTestSchema"},"ProjectResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","required":["id","name"],"title":"ProjectResponse"},"ProjectSchema":{"properties":{"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]}},"type":"object","title":"ProjectSchema"},"ScenarioDataPoinResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"input":{"type":"string","title":"Input"},"result":{"anyOf":[{"type":"object"},{"items":{},"type":"array"},{"type":"string"}],"title":"Result"},"meta_data":{"type":"string","format":"json-string","title":"Meta Data"}},"type":"object","required":["id","input","result"],"title":"ScenarioDataPoinResponse"},"ScenarioSetCreate":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id"},"name":{"type":"string","title":"Name"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data"},"number_examples":{"type":"integer","exclusiveMinimum":0.0,"title":"Number Examples"},"generation_type":{"allOf":[{"$ref":"#/components/schemas/ScenarioType"}],"default":"REPHRASE_INVARIANT"}},"type":"object","required":["name","seed_data","number_examples"],"title":"ScenarioSetCreate"},"ScenarioSetGenerate":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id"},"source_scenario_id":{"type":"string","format":"uuid","title":"Source Scenario Id"},"name":{"type":"string","title":"Name"},"number_examples":{"type":"integer","exclusiveMinimum":0.0,"title":"Number Examples"},"generation_type":{"allOf":[{"$ref":"#/components/schemas/ScenarioType"}],"default":"REPHRASE_INVARIANT"}},"type":"object","required":["source_scenario_id","name","number_examples"],"title":"ScenarioSetGenerate"},"ScenarioSetResponse":{"properties":{"scenario_id":{"type":"string","format":"uuid","title":"Scenario Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"type":{"type":"string","title":"Type"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"name":{"type":"string","title":"Name"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data","default":[]},"scenario_input":{"items":{"type":"string"},"type":"array","title":"Scenario Input","default":[]}},"type":"object","required":["scenario_id","project_id","time_created","type"],"title":"ScenarioSetResponse"},"ScenarioSetUpdate":{"properties":{"project_id":{"type":"string","format":"uuid","title":"Project Id"},"time_created":{"type":"string","format":"date-time","title":"Time Created"},"type":{"type":"string","title":"Type"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"name":{"type":"string","title":"Name"},"seed_data":{"items":{"$ref":"#/components/schemas/SeedData"},"type":"array","title":"Seed Data","default":[]},"scenario_input":{"items":{"type":"string"},"type":"array","title":"Scenario Input","default":[]}},"type":"object","title":"ScenarioSetUpdate"},"ScenarioType":{"enum":["SEED","REPHRASE_INVARIANT","CONDITIONAL","TEXT_REVERSE_QUESTION","TEXT_REVERSE_LABELED","LABEL_REVERSE_INVARIANT","ROUNDTRIP_INVARIANT","NEGATION","NAMED_ENTITY_SUBSTITUTION"],"title":"ScenarioType","description":"An enumeration."},"SeedData":{"properties":{"input":{"type":"string","title":"Input"},"result":{"type":"string","title":"Result"}},"type":"object","required":["input","result"],"title":"SeedData"},"TestDataPointItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"scenario_data_point_id":{"type":"string","format":"uuid","title":"Scenario Data Point Id"},"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"},"metric_type":{"type":"string","title":"Metric Type"},"metric_value":{"type":"object","title":"Metric Value"}},"type":"object","required":["id","scenario_data_point_id","test_run_id","metric_type","metric_value"],"title":"TestDataPointItem"},"TestDataPointPayload":{"properties":{"test_run_id":{"type":"string","format":"uuid","title":"Test Run Id"},"scenario_data_point_id":{"type":"string","format":"uuid","title":"Scenario Data Point Id"},"metric_type":{"type":"string","title":"Metric Type"},"metric_value":{"type":"string","format":"json-string","title":"Metric Value"}},"type":"object","title":"TestDataPointPayload"},"TestDataPointResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["id"],"title":"TestDataPointResponse"},"TestRunItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"scenario_set_id":{"type":"string","format":"uuid","title":"Scenario Set Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"type":{"type":"string","title":"Type"},"start_time":{"type":"string","format":"date-time","title":"Start Time"},"end_time":{"type":"string","format":"date-time","title":"End Time"},"test_data_point_count":{"type":"integer","title":"Test Data Point Count"},"model_metrics":{"type":"object","title":"Model Metrics"},"error_matrix":{"items":{},"type":"array","title":"Error Matrix"}},"type":"object","required":["id","project_id","mut_id","scenario_set_id"],"title":"TestRunItem"},"TestRunModelPayload":{"properties":{"type":{"type":"string","enum":["cohere","openai","pinecone","custom"],"title":"Type"},"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"},"params":{"type":"object","title":"Params"}},"type":"object","required":["type"],"title":"TestRunModelPayload"},"TestRunPayload":{"properties":{"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"scenario_set_id":{"type":"string","format":"uuid","title":"Scenario Set Id"},"name":{"type":"string","title":"Name"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"type":{"$ref":"#/components/schemas/TestRunType"},"start_time":{"type":"string","format":"date-time","title":"Start Time"},"end_time":{"type":"string","format":"date-time","title":"End Time"},"calculate_model_metrics":{"type":"boolean","title":"Calculate Model Metrics","default":false}},"type":"object","title":"TestRunPayload"},"TestRunPayloadV2":{"properties":{"mut_id":{"type":"string","format":"uuid","title":"Mut Id"},"api_key":{"type":"string","title":"Api Key"},"name":{"type":"string","title":"Name"},"type":{"allOf":[{"$ref":"#/components/schemas/TestRunType"}],"default":"MULTI_CLASS_CLASSIFICATION"},"calculate_metrics":{"type":"boolean","title":"Calculate Metrics","default":false},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"scenario_id":{"type":"string","format":"uuid","title":"Scenario Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"vector_db":{"$ref":"#/components/schemas/VectorDbPayload"}},"type":"object","required":["mut_id","scenario_id"],"title":"TestRunPayloadV2"},"TestRunType":{"enum":["MULTI_CLASS_CLASSIFICATION","INFORMATION_RETRIEVAL","NL_GENERATION","invariant"],"title":"TestRunType","description":"An enumeration."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VectorDbPayload":{"properties":{"type":{"type":"string","enum":["pinecone"],"title":"Type"},"api_key":{"type":"string","title":"Api Key"},"params":{"type":"object","title":"Params"}},"type":"object","required":["type","api_key"],"title":"VectorDbPayload"}}}}